default preseed
label preseed
  menu label ^Auto Install Ubuntu Server
  kernel {{ kernel_path }}
{% if preseed_url != '' %}
  append preseed/url={{ preseed_file}} auto=true priority=high vga=788 initrd={{ initrd_path }} quiet ---
{% else %}
  append preseed/file=/cdrom/{{ preseed_file}} preseed/file/checksum={{ preseed_checksum }} auto=true priority=high vga=788 initrd={{ initrd_path }} quiet ---
{% endif %}
