#cloud-config
autoinstall:
  version: 1
  locale: en_US
  network:
    network:
      version: 2
      ethernets:
        {{ _interface_name }}:
          dhcp4: {{ not (_interface.static | default('yes')) }}
          dhcp6: {{ not (_interface.static | default('yes')) }}
{% if _interface.static | default('no') | bool %}
          addresses:
            - {{ _interface.ipaddress }}/{{ _interface_prefix }}
          gateway4: {{ _interface.gateway }}
          nameservers:
            addresses: [ {{ _interface.nameservers | join(',') }} ]
{% endif %}
  storage:
    layout:
      name: "{{ _storage_layout }}"
{% if _disk != '' %}
      match:
        path: {{ _disk }}
{% endif %}
    config:
      {{ _storage_config | to_nice_yaml(indent=2) | indent(6) }}
  apt:
    primary:
      - arches: [default]
        uri: http://{{ _mirror_primary }}/ubuntu/
    security:
      - arches: [default]
        uri: http://{{ _mirror_security }}/ubuntu/
    fallback: offline-install
  identity:
    hostname: {{ _fqdn }}
    username: {{ _ssh_user }}
    password: {{ _ssh_pass }}
  ssh:
    install-server: yes
    authorized-keys: {{ _ssh_keys }}
  packages: [ {{ _packages | join(',')}} ]
  user-data:
    disable_root: false
  late-commands:
    - /bin/echo '{{ _ssh_user }} ALL=(ALL:ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/{{ _ssh_user }}
    - /bin/chmod 0640 /target/etc/sudoers.d/{{ _ssh_user }}
{% if _disk != '' %}
    - /bin/echo 'ARRAY <ignore> devices=/dev/sda' >> /target/etc/mdadm/mdadm.conf
{% endif %}
{% if _storage_layout == 'lvm' %}
    - curtin in-target --target=/target -- lvextend -l "+100%FREE" -r /dev/ubuntu-vg/ubuntu-lv
{% endif %}
