#cloud-config
autoinstall:
  version: 1
  locale: en_US
  keyboard:
    layout: en
    variant: us
  network:
    network:
      version: 2
      ethernets:
        {{ interface_name }}:
          dhcp4: {{ not (interface.static | default('yes')) }}
          dhcp6: {{ not (interface.static | default('yes')) }}
{% if interface.static | default('no') | bool %}
          addresses:
            - {{ interface.ipaddress }}/{{ interface_prefix }}
          gateway4: {{ interface.gateway }}
          nameservers:
            addresses: [ {{ interface.nameservers | join(',') }} ]
{% endif %}
  storage:
    layout:
      name: "{{ storage_layout }}"
{% if disk != '' %}
      match:
        path: {{ disk }}
{% endif %}
    config:
      {{ storage_config | to_nice_yaml(indent=2) | indent(6) }}
  apt:
    primary:
      - arches: [default]
        uri: http://{{ mirror_primary }}/ubuntu/
    security:
      - arches: [default]
        uri: http://{{ mirror_security }}/ubuntu/
  identity:
    hostname: {{ fqdn }}
    username: {{ ssh_user }}
    password: {{ ssh_pass }}
  ssh:
    install-server: yes
    authorized-keys: {{ ssh_keys }}
  packages: [ {{ packages | join(',')}} ]
  user-data:
    disable_root: false
  late-commands:
    - /bin/echo '{{ ssh_user }} ALL=(ALL:ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/{{ ssh_user }}
    - /bin/echo 'ARRAY <ignore> devices=/dev/sda' >> /target/etc/mdadm/mdadm.conf
